*
{
  margin: 0;
  padding: 0;
}
html
{
  height: 100%;
  margin:0;
  padding: 0;
}
body
{
  height: 100%;
  background: url(img/fondo.jpg) no-repeat center center fixed;
  -webkit-background-size:cover;
  -mozilla-background-size:cover;
  -ms-background-size:cover;
  -o-background-size:cover;

  margin: 0;
  max-width: 2000px;
  width: 100%;
}
form
{
  width: 40%;
  margin: 0 auto;
  margin-top: 100px;
}
#seccion1
{
margin-top: -100px;
width: 80%;
margin: 0 auto;
background: rgba(255,255,255,.5);
-moz-background: rgba(255,255,255,.5);
-ms-background: rgba(255,255,255,.5);
-o-background: rgba(255,255,255,.5);
}
#menu
{
  height: 70px;
background: rgb(183,91,0);
  
  
  width: 100%;
 /* -webkit-transition:all .8s;
  -mozilla-transition:all .8s;
  -o-transition:all .8s;
  -ms-transition:all .8s;
*/
}
.menu-op
{
opacity: .6;
}
#menu2
{
position: fixed;
  
z-index: 100000;
  height: 70px;
background: rgba(183,91,0,1);
  top:0;
  
  width: 100%;   -webkit-transition:all .8s;   -mozilla-transition:all .8s;
-o-transition:all .8s;   -ms-transition:all .8s; } 

.datos
{ 
  display: block;



}

#slider{
  width: 80%;
margin:150px auto;
box-shadow: 0 .1em 1em black;
-webkit-box-shadow: 0 .1em 1em black;
-moz-box-shadow: 0 .1em 1em black;
-o-box-shadow: 0 .1em 1em black;
}
 
 
/* ESTILOS DEL SLIDESHOW */
 
ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{font-weight:bold;display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}
 
 
.bjqs-caption{
color:black;
background:whitesmoke;
opacity:.75;
text-align: center;
}
 
/* BOTONERA UBICADA AL PIE DEL SLIDESHOW */
ol.bjqs-markers{
margin-top:35px;
}
ol.bjqs-markers li a{
padding: 5px 10px;
background: #000;
color: #fff;
margin: 5px;
text-decoration: none;
transition:background .5s ease;
-webkit-transition:background .5s ease;
-moz-transition:background .5s ease;
-o-transition:background .5s ease;
}
li.active-marker a, ol.bjqs-markers li a:hover{
background:gray!important;
}
 
/* CONTROLES ATRAS Y ADELANTE */
ul.bjqs-controls.v-centered li a {
display: block;
padding: 10px;
background: whitesmoke;
color: #000;
text-decoration: none;
opacity:.75;
 
transition:color .5s ease, background .5s ease;
-webkit-transition:color .5s ease, background .5s ease;
-moz-transition:color .5s ease, background .5s ease;
-o-transition:color .5s ease, background .5s ease;
}
ul.bjqs-controls.v-centered li a:hover{
    background:#000;
    color:#fff;
}
header
{
  -webkit-transition:all .9s;
  -moz-transition:all .9s;
  -ms-transition:all .9s;
  -o-transition:all .9s;
  top:0;
   left:0; 
  z-index: 10000;
  position:fixed;
  margin: 0;
  padding:0;
  width:100%;

}
.gizle {
  top: -90px;
}
.sabit {
  top:0;
  z-index: 9999;
}

nav ul
{
  font-family: 'Roboto', sans-serif;
  text-align: center;
 width: 100%;
 margin: 0 auto;
  height: 100%;
  
}
nav ul li
{

padding-top: 20px;
  list-style: none;
  float:left;
  font-size: 20px;
  color: white;
  height: 70%;
  width: 15%;
  text-align: center;

}
nav ul li:hover
{
   background: #FF9A35;
-webkit-transition:all 1s;
-mozilla-transition:all 1s;
-o-transition:all 1s;
-ms-transition:all 1s;

}
.list
{

  text-decoration: none;
color: white;
height: 100%;
}
#galeria
{
  
  text-align: center;
  background: rgba(48,76,93,.8);
  margin: 0 auto;
  margin-top: 100px;
  width: auto;
  
}
.row
{
 position: relative;
  display:block;
  width: 100%;
}
#galeria .row .img
{
  display: inline-block;
  width: 17%;
  height: 120px;
}
.img4
{
  
width: 100%;
height: 100%;
-webkit-filter:grayscale(1);
-webkit-transition:all .7s;
-moz-filter:grayscale(1);
-moz-transition:all .7s;

-ms-filter:grayscale(2px);
-ms-transition:all .7s;

-o-filter:grayscale(2px);
-o-transition:all .7s;

}
h1
{
  color: #FF8000;
  font-family: 'Lobster', cursive;
}
.img4:hover
{
 -webkit-filter:grayscale(0);
 -moz-filter:grayscale(0);
 -ms-filter:grayscale(0px);
 -o-filter:grayscale(0px);
 width: 130%;
 height: 150px;
 -webkit-box-shadow: 3px 3px 14px 0px rgba(50, 50, 50, 1);
-moz-box-shadow:    3px 3px 14px 0px rgba(50, 50, 50, 1);
box-shadow:         3px 3px 14px 0px rgba(50, 50, 50, 1);
  
}
#logo
{
  width: 40%;
  height: 80%;
 -webkit-filter:grayscale(0);
-moz-filter:grayscale(0);
}
#figlogo
{
  
  height: 100%;
  float: left;
}
#regresar,#llegar
{
color: black;
}
.llegar2
{  color: white;
  text-align: center; 
  margin: 0 auto;
  width: 30%;
  background: rgb(183,91,0);
  -webkit-box-shadow: 2px 2px 11px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow:    2px 2px 11px 0px rgba(50, 50, 50, 1);
box-shadow:         2px 2px 11px 0px rgba(50, 50, 50, 1);
}

#map_canvas
{
margin-top:70px;
width: 100%; 
height: 35%;  
}
.panel_ruta
{
  display: inline-block;
  margin: 0 auto;
  margin-left: 40px;
  overflow: auto; 
  width:30%; 
  height: 70%; 
  margin-top:200px; 
   background:white;

}
#logo
{
  height: 130%;
  width: 60%;
  margin-top:-100px;
  box-shadow: none;
}
#logo:hover
{
  
  
  background: rgba(183,91,0,.6);
}
#lilogo:hover
{
  background:rgba(183,91,0,.6)
}
.img2
{
  -webkit-filter:grayscale(0);
  -mozilla-filter:grayscale(0);
  -ms-filter:grayscale(0);
  -o-filter:grayscale(0);

}
footer
{
  bottom: 0px;
  margin-top: 20px;
  background: #414732;
  height: 100px;
  color: white;
  
}
#valores
{

  height: 500px;
  margin: 0 auto;
  margin-top: 200px;
  width: 80%;
  background: rgba(255,255,200,.5);
}
p
{
  margin-top: 25px;

}
.mision
{
  margin: 0 auto;
  padding-bottom: 40px;
  margin-top: 50px;
  width: 80%;
  border-bottom: 2px black dotted;

}
.titulo
{
  margin-bottom: 40px;
  width: 20%;
  margin: 0 auto;
}

@media screen and (max-width: 800px){

body
{
  background: #fff;


}
#slider
{
  z-index: -100;
  display:none;
}
}



  

